# Eclipse 
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Meteor stuff
mup.json
.deploymeteor.config
node_modules
*.swp
*.swo
.idea
build/android
build/bundle
.DS_Store

# keys
*.pem
*.ppk

#deployment
bundle/
#VSCODE
.vscode

# JAX-WS project
*.war
*.ear
build
WebContent
*~
*.jar
.metadata
bin/
tmp/
*.tmp
*.bak
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

*target*

# eclipse specific git ignore
bin/**
tmp/**
tmp/**/*



