<template name="rightClickMenu">
    <div id="optionsMenu">
        <div id='cssmenu'>
            <ul>
                <li class="has-sub"><a id ="changeAtomColor" href='#'>Change color of {{getRightClickLabel}}</a>
                    <ul>
                        <li>
                            <select class="changeAtomColorPicker" >
                                <option value="inherit">Inherit</option>
                                <option value="#001f3f">Navy</option>
                                <option value="#0074D9">Blue</option>
                                <option value="#7FDBFF">Aqua</option>
                                <option value="#39CCCC">Teal</option>
                                <option value="#3D9970">Olive</option>
                                <option value="#2ECC40">Green</option>
                                <option value="#01FF70">Lime</option>
                                <option value="#FFDC00">Yellow</option>
                                <option value="#FF851B">Orange</option>
                                <option value="#FF4136">Red</option>
                                <option value="#85144b">Maroon</option>
                                <option value="#F012BE">Fuchsia</option>
                                <option value="#B10DC9">Purple</option>
                                <option value="#111111">Black</option>
                                <option value="#AAAAAA">Gray</option>
                                <option value="#DDDDDD">Silver</option>
                                <option value="#FFFFFF">White</option>
                            </select>
                        </li>                        
                    </ul>
                </li>
                <li class="has-sub {{showSigProps}}">
                    <a id="changeAtomShape" href='#'>Change shape of {{getRightClickLabel}}</a>
                    <ul>
                        <li>
                            <select class="changeAtomShapePicker" >
                                <option value="inherit">Inherit</option>
                                <option value="rectangle">Rectangle</option>
                                <option value="roundrectangle">Round Rectangle</option>
                                <option value="ellipse">Ellipse</option>
                                <option value="triangle">Triangle</option>
                                <option value="pentagon">Pentagon</option>
                                <option value="hexagon">Hexagon</option>
                                <option value="heptagon">Heptagon</option>
                                <option value="octagon">Octagon</option>
                                <option value="star">Star, diamond</option>
                                <option value="vee">Vee</option>
                                <option value="rhomboid">Rhomboid</option>
                            </select>
                        </li>
                    </ul>
                </li>
                <li class="has-sub {{showSigProps}}"><a id ="rightClickProject" href='#'>Project over {{getRightClickLabel}}</a></li>
            </ul>
        </div>
    </div>
</template>