<template name="alloyEditor">
    <div class="container-fluid">

        <div class="row">
            <!-- page head -->
            <div id="headTitle" class="col-xs-12">
                <h1 class="page-header">Alloy4Fun
                </h1>
            </div>

        </div>


        <div>
            
            <!-- Code container + buttons -->
            <div class="container max-width">
                {{> textEditor}}

                <!--Command combo box -->
                <div class="col-lg-4 col-md-12 col-xs-12">
                    {{#if showCommands}}
                    <div class="command-selection">
                        <label>Command : </label>
                        <select>
                            {{#each cmd in getCommands}}
                            <option value="{{cmd}}">{{cmd}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{/if}}
                </div>


                <!-- Previous Instance : prev div
                 Execute : exec div
                 Next Instance : next div -->
                <div class="col-lg-4 col-md-12 col-xs-12">
                    <div class="text-center">
                        <div id="exec" class="col-lg-12 col-md-4 col-xs-4">
                            <button class="cbutton cbutton--effect-boris" {{execEnabled}}>
                                 <div class="col-xs-12">
                                 <span class="fa-stack">
                                    <i class="cbutton__icon fas fa-play fa-stack-2x"></i>
                                    {{#if inheritsSecrets}}
                                    <i id="hidden_icon" title="Model may have secrets" class="fas fa-eye-slash fa-stack-1x fa-inverse" style="position:absolute;text-align:left;margin-left:10px"></i>
                                    {{/if}}
                                    {{#if isRunning}}
                                    <i id="running_icon" title="Command executing" class="fas fa-thin fa-spinner fa-spin fa-stack-1x" style="color:white;"></i>
                                    {{/if}}
                                </span>
                                </div>
                                <span class="cbutton__text">Play</span><i class="legend">Execute</i>
                            </button>
                        </div>
                        <div id="genUrl" class="col-lg-12 col-md-4 col-xs-4 text-center permalink">
                            <button id="genurlbtn" class="cbutton cbutton--effect-boris" {{shareModelEnabled}}>
                                <div class="col-xs-12">
                                    <i class="cbutton__icon fas fa-link fa-2x"></i></div>
                                <span class="cbutton__text">GenUrl</span><i class="legend">Share model</i>
                            </button>
                        </div>
                        <div id="downloadTree" class="col-lg-12 col-md-4 col-xs-4">
                            <button class="cbutton cbutton--effect-boris" {{downloadTreeEnabled}}>
                                <div class="col-xs-12">
                                    <i class="cbutton__icon fas fa-download fa-2x"></i></div>
                                <span class="cbutton__text">Download derivations</span><i class="legend">Download derivations</i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- URL div -->
                {{#if showModelLinks}}
                <div id="url-permalink" class="col-lg-4 col-md-12 col-xs-12">
                    <div class="text-center">
                        <span>
                            <p>public link</p>
                            <div class="col-xs-12">
                                <a href={{publicModelURL}} class="urlinfo">{{publicModelURL}}</a>
                            </div>
                            <p></p>
                            <div class="col-xs-12">
                                <button class="clipboardbutton cbutton cbutton--effect-boris" data-clipboard-text={{publicModelURL}}>
                                    <i class="far fa-clipboard"></i>
                                    <i class="legend">copy to clipboard</i>
                                </button>
                            </div>
                        </span>
                        {{#if hasLocalSecrets}}
                        <span>
                            <p>private link</p>
                                <div class="col-xs-12">
                                    <a href={{privateModelURL}} class="urlinfo">{{privateModelURL}}</a>
                                </div>
                            <p></p>
                            <div class="col-xs-12">
                                <button class="clipboardbutton cbutton cbutton--effect-boris" data-clipboard-text={{privateModelURL}}>
                                    <i class="far fa-clipboard"></i>
                                    <i class="legend">copy to clipboard</i>
                                </button>
                            </div>
                        </span>
                        {{/if}}
                    </div>
                </div>
                {{/if}}

                <div class="col-lg-6 col-xs-10 col-xs-offset-1" id="log">
                    {{#each logs}}
                        <p class="{{class}}">{{message}}</p>
                    {{/each}}
                </div>

                <!-- Instance Viewer -->
                <div class="col-lg-8 col-lg-offset-0 col-xs-10 col-xs-offset-1" {{showInstance}}>
                    <div id="instanceViewer" class="instanceViewer col-xs-12">
                        <button id="prevTrace" class="cbutton {{isVariableModel}}" {{prevEnabled}}>
                            <i class="cbutton__icon fa fa-fw fa-arrow-left auto-margin"></i>
                        </button>
                        <button id="nextTrace" class="cbutton {{isVariableModel}}">
                            <i class="cbutton__icon fa fa-fw {{nextShape}} auto-margin"></i>
                        </button>
                        <div id="currentTrace" class="{{isVariableModel}}">{{currentTrace}}</div>
                        <div style="clear: both;"></div>
                        {{> frameNavigation}}
                        <div class="empty-instance {{isEmptyInstance}}">EMPTY INSTANCE</div>
                        <div id="instance"></div>
                        {{> rightClickMenu}}
                    </div>
                </div>

                <div class="text-center" {{showInstance}}>
                <div id="prev" class="col-lg-4 col-md-4 col-xs-4 col-lg-offset-0  col-md-offset-2 col-xs-offset-2">
                    <button class="cbutton cbutton--effect-boris" {{prevInstEnabled}}>
                        <div class="col-xs-12">
                            <i class="cbutton__icon fa fa-step-backward fa-2x"></i></div>
                        <span class="cbutton__text">Backward</span><i class="legend">Previous instance</i>
                    </button>
                </div>

                <div id="next" class="col-lg-4 col-md-4 col-xs-4 col-lg-offset-0 col-md-offset-0 col-xs-offset-0">
                    <button class="cbutton cbutton--effect-boris" {{nextInstEnabled}}>
                        <div class="col-xs-12">
                            <i class="cbutton__icon fa fa-step-forward fa-2x"></i></div>
                        <span class="cbutton__text">Forward</span><i class="legend">Next instance</i>
                    </button>
                </div>

                <!-- Share Instance */ -->
                <div class="col-lg-4 col-md-12 col-xs-12">
                    <div id="genInstanceUrl" class="text-center permalink">
                        <button id="geninstanceurlbtn" class="cbutton cbutton--effect-boris" {{shareInstEnabled}}>
                            <div class="col-xs-12">
                                <i class="cbutton__icon fa fa-link fa-2x"></i>
                            </div>
                            <span class="cbutton__text">GenInstanceUrl</span><i class="legend">Share instance</i>
                        </button>
                    </div>
                </div>

                {{#if showInstanceLinks}}
                <div id="url-instance-permalink" class="col-lg-4 col-md-12 col-xs-12">
                    <div class="text-center">
                        <span>
                            <p>instance link</p>
                            <div class="col-xs-12">
                                <a href={{instanceURL}} class="urlinfo">{{instanceURL}}</a>
                            </div>
                            <p></p>
                            <div class="col-xs-12">
                                <button class="clipboardbutton cbutton cbutton--effect-boris" data-clipboard-text={{instanceURL}}>
                                    <i class="far fa-clipboard"></i>
                                    <i class="legend">copy to clipboard</i>
                                </button>
                            </div>
                        </span>
                    </div>
                </div>
                {{/if}}
            </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <div id="information" class="text-center col-xs-12">
                        <p>To get started check out these <a target="_blank" href="https://github.com/haslab/Alloy4Fun/wiki/Examples">examples</a>. More information about Alloy is available at <a target="_blank" href="http://alloytools.org">AlloyTools</a>. </p>
                        <p>Privacy Policy: Alloy4Fun logs all user interactions, including code and options, which may be analyzed and made public for research purposes. Do not share confidential information. However, Alloy4Fun does not collect any personally identifiable information.
                        </p>
                    </div>
                </div>
                <div class="container">
                    <div id="logos" class="text-center col-lg-10 col-md-12 col-xs-12 col-lg-offset-1 col-md-offset-0 col-xs-offset-0">
                        <div class="col-lg-6 col-xs-6">                        
                        <p class="text-left"><img src="https://github.githubassets.com/favicon.ico" style="height:16px;"/> <a target="_blank" href="https://github.com/haslab/Alloy4Fun">Alloy4Fun</a> developed by:</p>
                        </div>
                        <div class="col-lg-6 col-xs-6">                        
                        <p class="text-left">Funded by:</p>
                        </div>
                        <div class="col-xs-6">                        
                        <div class="col-lg-3 col-md-3 col-xs-3">
                            <img class="img-responsive" src="/Logo_INESCTEC.png"/>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3">
                            <img class="img-responsive" src="/Logo_UM.png"/>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3">
                            <img class="img-responsive" src="/Logo_FEUP.png"/>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3">
                        </div>
                        </div>
                        <div class="col-xs-6">                        
                        <div class="col-lg-3 col-md-3 col-xs-3">
                            <img class="img-responsive" src="/Logo_FCT.png"/>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3">
                            <img class="img-responsive" src="/Logo_Compete2020.png"/>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3">
                            <img class="img-responsive" src="/Logo_Portugal2020.png"/>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3">
                            <img class="img-responsive" src="/Logo_UE.png"/>
                        </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</template>