<template name="sigSettings">
    <div class="atom-settings">
        <h3 class="settings-info">Signature Settings</h3>
        {{#with getSig}}<h5 class="settings-info">Sig {{this}}</h5>{{/with}}
        <hr/>
        <div class="slide">

            <div class="settings-interface">
                <div class="not-for-univ ">
                    <div class="col-md-12 option-field projection-settings">
                        <label class="settings-info">Project over this sig:</label>
                        <input id="projectOverSig" type="checkbox" class="checkbox-primary" name="projectOverSig" value="true">
                    </div>
                </div>
                <div class="col-md-12 option-field hide-nodes-settings">
                    <label class="settings-info">Hide nodes:</label>
                    <input id= "hideNodes" type="checkbox" class="checkbox-primary"><br/>
                    <div class="not-for-univ">
                        <label class="settings-info">Inherit property:</label>
                        <input id= "inheritHideNodes" type="checkbox" class="checkbox-primary" >
                    </div>
                </div>

                <div class="col-md-12 option-field">
                    <label class="settings-info">Node color:</label><br/>
                    <select id="atomColorSettings" class="settings">
                        {{#if notUniv}}<option value="inherit">Inherit</option>{{/if}}
                        <option value="#001f3f">Navy</option>
                        <option value="#0074D9">Blue</option>
                        <option value="#7FDBFF">Aqua</option>
                        <option value="#39CCCC">Teal</option>
                        <option value="#3D9970">Olive</option>
                        <option value="#2ECC40">Green</option>
                        <option value="#01FF70">Lime</option>
                        <option value="#FFDC00">Yellow</option>
                        <option value="#FF851B">Orange</option>
                        <option value="#FF4136">Red</option>
                        <option value="#85144b">Maroon</option>
                        <option value="#F012BE">Fuchsia</option>
                        <option value="#B10DC9">Purple</option>
                        <option value="#111111">Black</option>
                        <option value="#AAAAAA">Gray</option>
                        <option value="#DDDDDD">Silver</option>
                        <option value="#FFFFFF">White</option>
                    </select>
                </div>
                <div class="col-md-12 option-field">
                    <label class="settings-info">Node shape:</label><br/>
                    <select id="atomShapeSettings" class="settings">
                        {{#if notUniv}}<option value="inherit">Inherit</option>{{/if}}
                        <option value="rectangle">Rectangle</option>
                        <option value="roundrectangle">Round Rectangle</option>
                        <option value="ellipse">Ellipse</option>
                        <option value="triangle">Triangle</option>
                        <option value="pentagon">Pentagon</option>
                        <option value="hexagon">Hexagon</option>
                        <option value="heptagon">Heptagon</option>
                        <option value="octagon">Octagon</option>
                        <option value="star">Star</option>
                        <option value="vee">Vee</option>
                        <option value="rhomboid">Rhomboid</option>
                    </select>
                </div>
                <div class="col-md-12 option-field">
                    <label class="settings-info">Node border:</label><br/>
                    <select id="atomBorderSettings" class="settings">
                        {{#if notUniv}}<option value="inherit">Inherit</option>{{/if}}
                        <option value="solid">Solid</option>
                        <option value="dotted">Dotted</option>
                        <option value="dashed">Dashed</option>
                        <option value="double">Double</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>